[project]
name = "advent-of-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "ipython==9.7.0",
    "pytest==9.0.1",
    "requests==2.32.5",
    "numpy==2.3.5",
    "pyperclip==1.11.0"
]
